.previewerMain{
    width: 100%;
    overflow: hidden;
    position: relative;
    .imgSlider{
        display: flex;
        transition: transform 400ms ease-in-out;
    }
    img{
        width: 100%;
        flex-shrink: 0;
    }
    .prevImg,.nextImg{
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        background-color: white;
        width: 2.5rem;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1.75rem;
        border: none;
        z-index: 10;
    }
    .nextImg{
        right: 5%;
        top: 50%;
    }
    .prevImg{
        left: 5%;
    }
}